# Binarios
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output del compilador Go
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Variables de entorno
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~
